.heading {
  text-align: center;
  margin-top: 60px;
  color: #892cdc;
}

.changeForm {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5%;
}

.changeForm i {
  position: relative;
  bottom: 50px;
  left: 300px;
}

.changeForm Button {
  margin-top: 8%;
}

.changeForm input {
  border-radius: 7px;
  width: 400px;
  margin-top: 10%;
}

#recaptcha {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .changeForm {
    padding: 5%;
    width: 90%;
    margin-left: 5%;
  }

  .changeForm input {
    width: 300px;
  }

  .changeForm Button {
    margin-top: 13%;
  }

  .heading {
    margin-left: 7%;
    margin-top: 100px;
    width: 80%;
    color: #892cdc;
  }
}
